/***********
******  scss/utilities/variables.scss
***********/

//colors

$blue: blue;

$orange: orange;

$yellow: yellow;




$red: red;

$black: black;

$white: white;


$grey: #333333;/*for body background*/










.blue-b{
	background: $blue;
	}

.orange-b{
	background: $orange;
	}

.yellow-b{

	background: $yellow;
	}




.red-b{
	background: $red;
}




